- provide(:title, "About")
%h2.text-center.text-color-secondary.text-shadow About the Project
%p
    Shards of the Grid is a web-based, grid adventure MORPG (Massively Online Role-Playing Game) built with SaaS principles. Players create unique accounts, log in, and embark on an exploration of a mysterious, multi-server grid world, encountering AI-generated content at every step.

%p 
    In this world, players can participate in quests, earn and spend an in-game currency called Shards, and collaborate in shared instances of the game. Each grid square offers distinct lore, items, and interactions, fostering a shared but personalized gameplay experience.

%p 
    The project emphasizes backend infrastructure and scalable SaaS design, focusing on user account management, currency systems, and a mock payment interface. Players can "purchase" Shards through a simulated payment system that converts various currencies in real-time, demonstrating a practical integration of currency handling without real transactions.

%p 
    Shards of the Grid also provides flexibility for future expansion, with features like multiplayer chat, server management, in-game shops, and questlines. Built using Ruby on Rails, the game showcases MVC architecture, database interactions, and real-time functionality, designed to deliver an engaging and scalable gaming experience.
