- provide(:title, "Home")
%div.d-flex.flex-column.justify-content-center.min-vh-100
    %div.row
        %div.col-md-12.text-center
            %h1.display-1.my-5.text-color-secondary.text-shadow Shards of the Grid
            %h2.text-color-secondary.text-shadow Ready to Start Your Adventure?
