- if current_turn_user && current_turn_user.user
  %h3.text-primary Current Player:
  %p.text-muted= current_turn_user.user.username
- else
  %h3.text-primary Current Player:
  %p.text-muted Waiting for first turn...
