%h3.text-primary Your Stats:
%ul
  %li.text-muted
    %strong Total AP Remaining:
    = server_user.total_ap # Use server_user here
  %li.text-muted
    %strong Turn AP Remaining:
    = server_user.turn_ap # Use server_user here
  %li.text-muted
    %strong Shard Balance:
    = server_user.shard_balance # Use server_user here