%h3.text-primary Your Stats:
%ul
  %li.text-muted
    %strong Total AP Remaining:
    = player.total_ap
  %li.text-muted
    %strong Turn AP Remaining:
    = player.turn_ap
  %li.text-muted
    %strong Shard Balance:
    = player.shard_balance