- if items && items.any?
  = turbo_stream.replace "inventory-container" do
    %ul.dropdown-menu
      - items.each do |inventory|
        %li
          %span= inventory.item.name
          = button_to "Use #{inventory.item.name}", perform_action_server_game_path(@server),
            class: 'btn-game-action btn-info',
            params: { action_type: 'use_item', item_id: inventory.item.id },
            method: :post
- else
  %p.text-muted No items in inventory.