- if server_user
  = turbo_stream.replace "player-stats" do
    %h3.text-primary Your Stats:
    %ul
      %li.text-muted
        %strong Total AP Remaining:
        = server_user.total_ap
      %li.text-muted
        %strong Turn AP Remaining:
        = server_user.turn_ap
      %li.text-muted
        %strong Shard Balance:
        = server_user.shard_balance
- else
  %h3.text-danger.text-center Stats Unavailable
  %p.text-muted.text-center Unable to load your stats. Please reload the page.