%h1 Transactions

= link_to 'Purchase something new', new_transaction_path, class: 'btn btn-primary mb-5'

%h2 History
%div{ class:"overflow-scroll h-75" }
    %table{ class:"table mx-auto bg-light shadow" }
        %thead
            %tr
            %th{ class:"bg-danger text-warning fs-5 w-50" } Item Name
            %th{ class:"bg-danger text-warning fs-5 w-25" } Amount (Currency)
            %th{ class:"bg-danger text-warning fs-5 w-25" } Date

        %tbody
        - @transactions.each do | transaction |
            %tr{ style: "text-align: center;" }
            %td{ style: "padding: 10px; border: 1px solid #ddd;" } = transaction.name
            %td{ style: "padding: 10px; border: 1px solid #ddd;" } = transaction.amount
            %td{ style: "padding: 10px; border: 1px solid #ddd;" } = transaction.created_at
